#friend_list
  .row-fluid
    %span.span5
      = link_to_modal t('.add_friend'), new_user_friend_assignment_path,
       class: 'btn btn-success', style: 'margin-top: 14px;'
    .span4
      %h3= t('.title')
  .row-fluid
    .span12
      %table
        %thead
          %th.span1 ID
          %th.span3= User.human_attribute_name('name')
          %th.span2= User.human_attribute_name('email')
          %th.span6= Chat.model_name.human(count: 2)
        = render partial: 'users/user', collection: @friend_chats_group, as: :friend_chats_group