.alert
  %button.close{"data-dismiss" => "alert", type: "button"} ×
  = t('.warning_text', email: current_user.email)
= simple_form_for :account_password, url: account_passwords_path do |f|
  = f.input :pass, label: "#{t('.account_password_label', email: current_user.email)}:", as: :password
  = f.submit t('submit.send'), class: 'btn btn-success'