!!!
%html
  %head
    %title Mailchat
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if current_user
      .navbar.navbar-static-top
        .navbar-inner
          .container
            = link_to "На главную", root_path, class: 'brand'
            #menu
              %ul.nav
                %li= link_to 'Кнопка-ссылка', "#"
                %li.divider-vertical
                %li.dropdown
                  %a.dropdown-toggle{href: '#',:'data-toggle' => 'dropdown'}
                    Выпадающий список 1
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to 'Ссылка1', "#"
                    %li= link_to 'Ссылка2', "#"
                %li.dropdown
                  %a.dropdown-toggle{href: '#',:'data-toggle' => 'dropdown'}
                    Выпадающий список 2
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to 'Ссылка1', "#"
                    %li= link_to 'Ссылка2', "#"
                %li
                  %form.navbar-form.pull-left
                    %input.span2{type: "text", placeholder: "Поиск"}/
                    %button.btn{type: "submit"} Отправить
    .container-fluid
      .row-fluid
        .messages= bootstrap_flash
      .row-fluid
        .span12= yield
